.section-booking-table {
    &>div {
        display: flex;
        align-items: center;
        position: relative;
        gap: 80px;
    }

    .content {
        flex: 1;
        color: var(--texto-color1);

        .schedules {
            display: flex;
            flex-direction: column;
            gap: 10px;

            margin-top: 40px;

            h3 {
                color: var(--texto-color1);
                font-size: 24px;
                margin-bottom: 10px;
            }
        }
    }

    .spacer {
        flex: 1;
    }

    .contact-form {
        background-color: var(--texto-color1);
        height: 500px;
        width: 50%;
        border-radius: 15px;
        padding: 60px 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        position: absolute;
        top: 0;
        right: 0;

        .group-form {
            display: flex;
            flex-direction: column;
            gap: 10px;

            input {
                padding: 15px;
                border: 1px solid #ccc;
                border-radius: 10px;
                font-weight: 400;
                font-size: 14px;
                color: var(--color-plomo);
                transition: all 0.3s;

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: var(--color-plomo);
                }
            }

            select {
                padding: 15px;
                border: 1px solid #ccc;
                font-weight: 400;
                font-size: 14px;
                color: var(--color-plomo);
                transition: all 0.3s;
                width: 100%;

                &:focus {
                    outline: none;
                }
            }
        }

        .row{
            display: flex;
            gap: 20px;

            .form-group{
                flex: 1;
            }
        }

        button{
            border: none;
            background-color: var(--color-primary);
            color: var(--texto-color1);
            font-weight: 700;
            padding: 20px;
            border-radius: 999px;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-top: 30px;

            &:hover{
                background-color: var(--color-secundary);
            }

        }
    }

    @media (max-width: 992px){
        &> div{
            flex-direction: column;
            gap: 10px;
        }

        .spacer{
            height: 400px;
            flex: auto;
            width: 100%;
        }

        .contact-form{
            width: 100%;
            top: 45%;
            right: 0;
        }
    }
    @media (max-width: 768px){
        .spacer{
            height: 700px;
        }
        .contact-form{
            height: auto;
            padding: 30px 20px;
            top: 35%;

            .row{
                flex-direction: column;
            }
        }
    }
}